header.mui-bar-nav{
  background-color: #006699;
  h1{
    color: #fff;
  }
  a{
    float: right;
    color: #ffffff;
  }
}
nav.mui-bar-tab{
  background-color: #006699;
  a.mui-tab-item{
    color: #fff;
    &.mui-active{
      color: darkorange;
    }
  }
}
.mui-content{
  .mui-banner{
    position: relative;
    img{
      width: 100%;
      display: block;
    }
    .mui-slider-indicator{
      margin-bottom: 5px;
    }
  }
  .mui-navlink{
    padding: 10px;
    a{
      float: left;
      width: 33.33%;
      img{
        width: 100%;
        display: block;
      }
    }
  }
}