header.mui-bar-nav {
  background-color: #006699;
}
header.mui-bar-nav h1 {
  color: #fff;
}
header.mui-bar-nav a {
  float: right;
  color: #ffffff;
}
nav.mui-bar-tab {
  background-color: #006699;
}
nav.mui-bar-tab a.mui-tab-item {
  color: #fff;
}
nav.mui-bar-tab a.mui-tab-item.mui-active {
  color: darkorange;
}
.mui-content .mui-banner {
  position: relative;
}
.mui-content .mui-banner img {
  width: 100%;
  display: block;
}
.mui-content .mui-banner .mui-slider-indicator {
  margin-bottom: 5px;
}
.mui-content .mui-navlink {
  padding: 10px;
}
.mui-content .mui-navlink a {
  float: left;
  width: 33.33%;
}
.mui-content .mui-navlink a img {
  width: 100%;
  display: block;
}
