.mui-scroll-wrapper {
  background-color: #fff;
  top: 44px;
  bottom: 50px;
}
.mui-scroll-wrapper .mui-banner {
  position: relative;
}
.mui-scroll-wrapper .mui-banner img {
  width: 100%;
  display: block;
}
.mui-scroll-wrapper .mui-banner .mui-slider-indicator {
  margin-bottom: 5px;
}
.mui-scroll-wrapper .mui-navlink {
  padding: 10px;
}
.mui-scroll-wrapper .mui-navlink a {
  float: left;
  width: 33.33%;
}
.mui-scroll-wrapper .mui-navlink a img {
  width: 100%;
  display: block;
}
.mui-scroll-wrapper .mui-brand {
  padding: 0 10px;
}
.mui-scroll-wrapper .mui-brand > img {
  width: 100%;
}
.mui-scroll-wrapper .mui-brand > ul {
  overflow: hidden;
  padding: 5px 0 20px;
}
.mui-scroll-wrapper .mui-brand > ul > li {
  float: left;
  width: 25%;
}
.mui-scroll-wrapper .mui-brand > ul > li img {
  display: block;
  width: 100%;
}
.mui-scroll-wrapper .mui-product {
  padding: 0 10px;
}
.mui-scroll-wrapper .mui-product > img {
  width: 100%;
}
.mui-scroll-wrapper .mui-product > ul {
  margin: 5px 0;
}
.mui-scroll-wrapper .mui-product > ul li {
  float: left;
  width: 48%;
  margin: 1%;
  border: 1px solid #EEEEEE;
  box-shadow: -1px -1px 10px #ccc;
  text-align: center;
}
.mui-scroll-wrapper .mui-product > ul li > a:first-of-type {
  color: #8f8f94;
  font-size: 14px;
}
.mui-scroll-wrapper .mui-product > ul li > a:first-of-type img {
  width: 100%;
  display: block;
  padding: 0 5px;
  box-sizing: border-box;
}
.mui-scroll-wrapper .mui-product > ul li > a:first-of-type > span {
  display: inline-block;
  height: 44px;
  line-height: 18px;
  padding: 6px;
  overflow: hidden;
}
.mui-scroll-wrapper .mui-product > ul li p {
  margin-bottom: 5px;
  margin-top: -5px;
}
.mui-scroll-wrapper .mui-product > ul li p > span {
  font-size: 12px;
}
.mui-scroll-wrapper .mui-product > ul li p > span:first-of-type {
  color: #f30;
  padding-right: 4px;
}
.mui-scroll-wrapper .mui-product > ul li p > span:last-of-type {
  color: #cccccc;
  padding-left: 4px;
  text-decoration: line-through;
}
.mui-scroll-wrapper .mui-product > ul li > a:last-of-type {
  color: #fff;
  background-color: #006699;
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}
