header.mui-bar-nav a {
  float: left;
}
.mui-content {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
}
.mui-content .search {
  border: 1px solid #006699;
  margin: 10px 10px;
  position: relative;
}
.mui-content .search .search-inp,
.mui-content .search .button-inp {
  border: none;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  height: 28px;
}
.mui-content .search .button-inp {
  position: absolute;
  right: -1px;
  top: 0;
  padding: 0 15px;
  color: #ffffff;
  background-color: #006699;
  border-radius: 0;
}
.mui-content p {
  line-height: 30px;
  margin: 0 10px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.mui-content p a {
  color: #8f8f94;
  line-height: 30px;
}
.mui-content .searchList {
  padding: 0 10px;
}
.mui-content .searchList li {
  padding-left: 10px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}
